<div class="settings-container">
  <div class="settings-section">
    <h1>設定</h1>
    <p><%= link_to 'アカウント', user_path(@user) %> <%= link_to 'プロフィール', user_profile_path(@user) %></p>
  </div>
  <div class="account-section">
    <h1>アカウント</h1>
    <p>メールアドレス <%= @user.email %></p>
    <p>パスワード ******</p>
    <%= link_to '編集', edit_user_registration_path %>
  </div>
</div>